.idea
.run
/build
**/*.pyc
**/__pycache__
checkpoints
logs-*
**/stats
**/event_logs
**/trajectory_data
scripts/visual/.ipynb_checkpoints
submission
*.png
*.svg
submission_*.zip
agent_logs.txt
result.txt
local-test-*
*.egg-info
/outputs/
